.sidebar {
  min-height: 100vh;
  width: 7%;
  background-color: #2693ff;
  padding: 1%;
  text-align: center;
  position: relative;
  z-index: 999;
  overflow: hidden;

  .logo {
    width: 100%;
  }
}

.options-dash-wraper {
  justify-content: center;
  display: flex;
  width: 100%;

  .options-dash {
    justify-self: center;
    padding-top: 300%;

    a {
      text-decoration: none;
    }

    .option {
      border-bottom: 0.5px solid rgba(250, 250, 250, 0.2);
      border-top: 0.5px solid rgba(250, 250, 250, 0.2);
      border-left: 0.5px solid rgba(250, 250, 250, 0.2);
      width: 100%;
      padding: 20px 5px;
      color: white;
      border-radius: 2px;

      p {
        font-size: 0.9rem;
        margin-top: 5px;
      }

      .icon {
        width: 100%;
        font-size: 2.5rem;
      }
    }

    .option:hover {
      transition: 0.2s;
      background-color: #1182F2;
    }
  }
}

.actived {
  background-color: #1182F2;
}