.container-tasks-screem {
    background-color: #E9F4FB;
    width: 100%;
    display: flex;

    .taskscreem-wraper {
        align-self: center;
        width: 50%;
        margin: 0 auto;
        padding: 1% 2%;

        // background-color: green;
        h1 {
            color: #283848;
        }

        h3 {
            color: #7c8ea2;
        }

        .task-info-span {
            color: #2693FF;
        }

        .tasks-count {
            text-decoration: underline;
        }

        .searchBar {
            margin: 5% 0;
            width: 100%;
            border: 2px solid #bfdaeb;
            border-radius: 5px;

            input {
                width: 95%;
                height: 50px;
                border: 0;
                outline: 0;
                padding: 1% 2%;
                font-size: 1.2rem;
                background-color: rgba(0, 0, 0, 0);
                color: #283848;
            }

            input::placeholder {
                color: #bfdaeb;
                font-weight: bold;
            }

            .icon {
                font-size: 2rem;
                margin-top: 10px;
                align-self: center;
                font-style: italic;
                color: #bfdaeb;
            }
        }
    }
}