/* VAR MEDIA QUERIES */
break-one = 1530px;
break-two = 1310px;
laptop = 1500px;
small-screem = 1280px;
mobile = 1150px;
mobile-devices = 900px;

.container-tasks-screem {
    background-color: #E9F4FB;
    width: 100%;
    display: flex;

    .taskscreem-wraper {
        align-self: center;
        width: 50%;
        margin: 0 auto;
        padding: 1% 2%;

        // background-color: green;
        h1 {
            color: #283848;

            @media (max-width: mobile-devices) {
                font-size: 1.8rem;
            }
        }

        h3 {
            color: #7c8ea2;

            @media (max-width: mobile-devices) {
                font-size: 1rem;
                text-align: left;
                margin: 2% 0;
            }
        }

        .task-info-span {
            color: #2693FF;
        }

        .tasks-count {
            text-decoration: underline;
        }

        .searchBar {
            margin: 5% 0;
            width: 100%;
            border: 2px solid #bfdaeb;
            border-radius: 5px;

            input {
                width: 93%;
                height: 50px;
                border: 0;
                outline: 0;
                padding: 1% 2%;
                font-size: 1.2rem;
                background-color: rgba(0, 0, 0, 0);
                color: #283848;

                @media (max-width: mobile-devices) {
                    font-size: 1.1rem;
                    text-align: left;
                    width: 80%;
                    // background-color: black;
                }
            }

            input::placeholder {
                color: #bfdaeb;
                font-weight: bold;
            }

            .icon {
                font-size: 2rem;
                margin-top: 10px;
                align-self: center;
                font-style: italic;
                color: #bfdaeb;

                @media (max-width: mobile-devices) {
                    font-size: 1.5rem;
                    margin-left: 8%;
                }
            }
        }

        @media (max-width: laptop) {
            width: 70%;
            margin: 10% auto 0 auto;

            @media (max-width: mobile) {
                width: 90%;

                @media (max-height: 750px) {
                    padding: 15% 2%;
                }
            }
        }
    }
}